$site-neat-grid: (columns: 12, gutter: 20px, media: 800px)


body
  background: #f1e5d7

h5
  font-weight: bold

.header
  @include grid-container
  .book-title
    @include grid-column
    @include grid-media($site-neat-grid)
      @include grid-column(6)
      @include grid-push(3)

.main-block
  @include grid-container
  .main-block-row
    @include grid-column
    @include grid-media($site-neat-grid)
      @include grid-column(6)
      @include grid-push(3)

.reviews-block
  @include grid-container
  

.footer
  @include grid-container
  .footer-row
    @include grid-column
    .footer-sections
      @include grid-container
      .footer-contact-links
        @include grid-column(4)
      .footer-share-links
        @include grid-column(4)
      .footer-copyright
        @include grid-column(4)


#_atssh
  display: none
