---
title: 'Работа с PostgreSQL: настройка и масштабирование'
---

<!-- Github Ribbon -->
<a href="https://github.com/le0pard/postgresql_book">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
</a>

<!-- Header Content -->
<div class="top-block">
  <div class="row">
    <div class="large-12 large-centered small-centered columns book-title">
      <h1>Работа с PostgreSQL</h1>
      <h2>настройка и масштабирование</h2>
    </div>
  </div>
</div>

<div class="main-block">
  <div class="row">

    <div class="large-5 columns">
      <div class="poster-box">
        <%= image_tag 'cover.png', class: 'poster', alt: 'Работа с PostgreSQL: настройка и масштабирование' %>
      </div>
    </div>

    <div class="large-7 columns">

      <div class="lead-text hide-for-small-only hide-for-medium-only">
        <p>Перед вами справочное пособие по настройке и масштабированию PostgreSQL. В книге исследуются вопросы по настройке производительности PostgreSQL, репликации и кластеризации. Изобилие реальных примеров позволит как начинающим, так и опытным разработчикам быстро разобраться с особенностями масштабирования PostgreSQL для своих приложений.</p>
      </div>
      <div class="lead-text-mobile hide-for-large-up">
        <p>Перед вами справочное пособие по настройке и масштабированию PostgreSQL. В книге исседуются вопросы по настройке производительности PostgreSQL, репликации и кластеризации. Изобилие реальных примеров позволит как начинающим, так и опытным разработчикам быстро разобраться с особенностями масштабирования PostgreSQL для своих приложений.</p>
      </div>

      <div class="buttons-block">
        <div class="row">
          <div class="large-6 small-6 columns">
            <a id="downloadLink" href="https://github.com/le0pard/postgresql_book/releases/download/v4.0.0/postgresql-v400.zip" class="button download-button">PDF/ePub/Mobi</a>
          </div>
          <div class="large-6 small-6 columns">
            <a id="readLink" href="/html" class="button download-button">Читать HTML</a>
          </div>
        </div>
      </div>

      <div class="hide-for-small-only">
        <h5>Что нового в 4 издании?</h5>
        <ul class="disc">
          <li>Обновленна информация по репликациям</li>
          <li>Fsync vs synchronous_commit</li>
          <li>Расширения: pg_repack, pgaudit, ltree, multicorn, pg_prewarm</li>
          <li>PostgreSQL Bi-Directional Replication</li>
          <li>Разные мелочи (исправлены ошибки и прочее)</li>
        </ul>
      </div>

    </div>

  </div>

</div>
<!-- End Header Content -->

<div class="hide-for-small-only hide-for-medium-only">

  <div class="row">
    <div class="large-12 large-centered columns">
      <h3 class="reviews-title">Отзывы</h3>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <blockquote class="twitter-tweet" lang="en"><p>Читаю книгу <a href="http://t.co/Y4hjn88RRF">http://t.co/Y4hjn88RRF</a> и понимаю, что я ничего не знаю про PostgreSQL</p>&mdash; Max Treskin (@mtreskin) <a href="https://twitter.com/mtreskin/statuses/395561240933572608">October 30, 2013</a></blockquote>
    </div>
    <div class="large-6 columns">
      <blockquote class="twitter-tweet" lang="en"><p>Добротная книга по postgres <a href="http://t.co/1SRJcmGZ">http://t.co/1SRJcmGZ</a></p>&mdash; Maksim Rukomoynikov (@Rukomoynikov) <a href="https://twitter.com/Rukomoynikov/statuses/284213162557980672">December 27, 2012</a></blockquote>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <blockquote class="twitter-tweet" lang="en"><p>Отличная книга : Работа с PostgreSQL: настройка и масштабирование: <a href="http://t.co/pv5ufCoj">http://t.co/pv5ufCoj</a> огромное спасибо <a href="https://twitter.com/leopard_me">@leopard_me</a></p>&mdash; Igor V Churmeev (@Ingvarch) <a href="https://twitter.com/Ingvarch/statuses/269072705108705280">November 15, 2012</a></blockquote>
    </div>
    <div class="large-6 columns">
      <blockquote class="twitter-tweet" lang="en"><p>Дочитал 2-е издание &quot;Работа с PostgreSQL&quot; от <a href="https://twitter.com/leopard_me">@leopard_me</a>. Сейчас закачаю 3-е ( <a href="http://t.co/886U4WLV">http://t.co/886U4WLV</a> ) и отштудирую его тоже. Отличная книга!</p>&mdash; Denis Veselov (@sa1ppuakaupp1as) <a href="https://twitter.com/sa1ppuakaupp1as/statuses/285764736279277568">December 31, 2012</a></blockquote>
    </div>
  </div>

</div>

<!-- Footer -->

<footer class="row mbs small-font-size">
  <div class="large-12 columns">
    <hr />
    <div class="row">

      <div class="large-4 columns">
        <ul class="inline-list">
          <li><a href="https://twitter.com/leopard_me">Twitter</a></li>
          <li><a href="http://leopard.in.ua/">Блог</a></li>
          <li><a href="https://github.com/le0pard/postgresql_book">Книга на Github</a></li>
        </ul>
      </div>
      <div class="large-5 columns">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <!-- AddThis Button END -->
      </div>
      <div class="large-3 columns">
        <div class="right mbs">&copy; Alexey Vasiliev aka leopard</div>
        <div class="right">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/80x15.png" />
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>

<!-- End Footer -->

<!-- share scripts -->
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527012705413f0b7"></script>
